.time-square--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 50px;
  width: 60px;
  max-width: 22%;
  margin-right: 0.8rem;
}

.time-square--container:last-child {
  margin-right: 0;
}

.time-square--time {
  font-size: 1.8rem;
}

.time-square--label {
  color: gray;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}

@media only screen and (min-width: 410px) {
  .time-square--container {
    height: 60px;
    width: 70px;
    margin-right: 1.5rem;
  }
}

@media only screen and (min-width: 510px) {
  .time-square--container {
    height: 80px;
    width: 90px;
  }
}
